In [6]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv("Salary_data.csv")

In [11]:
x = df[["YearsExperience"]]

In [13]:
y = df[["Salary"]]

In [23]:
reg = LinearRegression()

In [30]:
X_train,Y_train,X_test,Y_test = train_test_split(x,y,test_size = 0.3,random_state = 121)

In [31]:
X_train

    YearsExperience
13              4.1
17              5.3
18              5.9
5               2.9
7               3.2
6               3.0
27              9.6
15              4.9
11              4.0
9               3.7
3               2.0
29             10.5
14              4.5
0               1.1
19              6.0
26              9.5
1               1.3
20              6.8
8               3.2
21              7.1
2               1.5

In [1]:
Y_test

NameError: name 'Y_test' is not defined